*{
    margin: 0;
    padding: 0;
}
.CaC{
    font-family: Arial;
    color: white;
}

.div-izq{
    background-image: url(../images/honolulu.jpg);
    background-size:cover;
    background-position:center;
    height: 380px;
}
.div-der{
    background-color:rgb(52, 57, 63);
    background-size: cover;
    height: 380px;
    color: white;
}

#comprarTickets{
    color: green;
}

.puntos{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: dashed 1px;
    }

div.formulario{
    padding-left: 22%;
    padding-right: 22%;
}


.section {
    position: relative;
    height: 100vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}







#booking {
    font-family: 'Montserrat', sans-serif;
    /*background-image: url('https://i.imgur.com/ZaRYfYW.jpg');*/
    background-image: url(../images/ba1.jpg);
    background-size: cover;
    background-position: center;
}
#booking::before {
    background:rgba(5, 5, 5, 0.6);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.font-bold {
    font-weight: bold;
  }

/* estilo titulo p y span oradores */
.oradores{
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}

.oradores span{
    font-size: xx-large;
    font-weight: 500;
}



/* Solucion a botones extra small en bootstrap posterior a 3
   Ref:  https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4
*/

.btn-group-xs > .btn, .btn-xs {
   padding: .25rem .4rem;
   font-size: .875rem;
   line-height: .5;
   border-radius: .2rem;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    justify-content: flex-end;
}

.booking-cta {
    text-align: right;
}

.booking-cta h1 {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.booking-cta p {
    font-size: 14px;
    color: white;
}

.orador, .anotate {
    text-align-last: center;
}


#temaCharla{
    padding-bottom: 100px;
}

#temaCharla::placeholder{
    font-size: x-large;
}
#btn-form{
    background-color: rgb(143, 209, 45);
    border-color: rgb(143, 209, 45);
}


.pie{
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: rgba(29,57,71,255);
    list-style: none;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;   
}

.pie li{
    display: inline-block;
    padding-right: 3%;
    padding-left: 4%;
}

.pie li a{
    text-decoration: none;
    color: white;
}