header{
    background-color: rgb(66, 70, 75);
    margin-bottom: -25px;
}
.CaC{
    font-family: Arial;
    color: white;
}
#comprar{
    color: rgb(26, 167, 26);
}
#comprar:hover{
    color: rgb(109, 223, 109);
}
.oradores{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.subtitulo{
    margin-top: 20px;
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
}

.formulario > #dato2{
    width: 28%;
    margin-left: 10px;
    margin-right: 10px;
}

#firstName, #lastName, #cantidad, #entrada{
    border-color: dimgray;
}
#botonenviar{
    margin-top: 10px;
}


.categorias{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.item-info2{
    border: solid rgb(187, 180, 180);
    border-width: 2px;
    padding-top: 20px;
    margin: 5px;
    margin-top: 20px;
    width: 250px;
    height: 220px;
    text-align: center;
}
.item-info2 > p{
    margin: 20px;
}
#desc{
    font-weight: bold;
    font-size: 20px;
}
#docum{
    color: grey;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
}
#estudiante{
    border-color:dodgerblue
}
#trainee{
    border-color: forestgreen;
}
#junior{
    border-color: darkgoldenrod;
}
.correo{
    display: flex;
    justify-content: center;
}
#email{
    width: 775px;
    border-radius: 5px;
    border-color: dimgrey;
}
.calculo > #valor{
    width: 28%;
    margin-left: 10px;
    margin-right: 10px;
}
.calculo{
    display: flex;
    justify-content: center;
}
.botones{
    display: flex;
    justify-content: center;
}
.boton{
    width: 28%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.resumen{
    display: flex;
    justify-content: center;
}
#resumen{
    border: none;
    width: 775px;
    font-size: 20px;
    background-color: rgb(193, 217, 241);
}

.pie{
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: rgba(29,57,71,255);
    list-style: none;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;   
}
.pie li{
    display: inline-block;
    padding-right: 3%;
    padding-left: 4%;
}
.pie li a{
    text-decoration: none;
    color: white;
}



  

